# https://github.com/browserslist/browserslist#readme
# Запустите npx browserslist в каталоге проекта,
# чтобы увидеть, какие браузеры были выбраны вашими запросами.

last 4 version # последние 4-ри версии браузера
> 1%
not dead
