.footer-bottom {
  @include padding(8px 32px);

  background-color: #484744;

  .footer_txt {
    @include font-size(1rem);

    font-weight: 400;
    text-transform: uppercase;
    color: #a4a4a4;
  }
}
