.header-top {
  padding: 12px 32px;
  background-color: #484744;

  .version_txt {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    color: #a4a4a4;
  }
}
