.header-top {
  @include padding(8px 32px);

  background-color: #484744;

  .version_txt {
    @include font-size(1rem);

    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    color: #a4a4a4;
  }

  .lorem {
    @include font-size(1.24rem);
    @include padding(20px 0 40px);

    color: #fcfc;
  }
}
